<div class='container'>
  <div class='beer-img'>
    <img src='/images/beer.png' />
  </div>
  <div class='home-bts'>
    <a href='/beers' class='beers'> Check the Beers! </a>
    <a href='/random-beer' class='random'> Check a Random Beer! </a>
  </div>
</div>